{% load static %}
<html>
    <head>
        <title>grzejan blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--
        <link rel="stylesheet" href="{% static 'css/bootstrap_3.2.0_css_bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap_3.2.0_css_bootstrap.min.css' %}">
        -->
        <!-- Bootstrap CSS 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!--
        <link rel="stylesheet" href="{% static 'css/fonts.googleapis.com_css_family_Lobster.css' %}">
        -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="top-menu">
            {% if user.is_authenticated %}
                Hi {{ user.username }}(<a href="{% url 'logout' %}" ><span class="glyphicon glyphicon-log-out" data-toggle="tooltip" data-placement="bottom" title="Logout"></span></a>)&nbsp;
                <a href="{% url 'post_draft_list' %}" class="0top-menu"><span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Drafts"></span></a>&nbsp;
                <a href="{% url 'post_new' %}" class="0top-menu"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add post"></span></a>
            {% else %}
                <a href="{% url 'login' %}" class="0top-menu"><span class="glyphicon glyphicon-log-in" data-toggle="tooltip" data-placement="bottom" title="Login"></span></a>
            {% endif %}
            </div>
            <h1><a href="/blog/" >grzejan blog</a></h1>
            <h4 style="color: #ffffff;"> Based on tutorial from https://tutorial.djangogirls.org</h4>

        </div>

        <div class="content container">           
            
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="osd">        
            <small style="color: #ffffff;"> 
                csrf_token: {{ csrf_token }}<br>
                {% if user.username %}username: {{ user.username }}<br>{% endif %}
                {% if user.first_name%}first_name: {{ user.first_name }} <br> {% endif %}
                {% if user.last_name%}last_name: {{ user.last_name }} <br> {% endif %}
                {% if user.email%}email: {{ user.email}} <br>{% endif %}
                <br>
                django:<br>
                {% if perms.blog.add_post is not None%}perms.blog.add_post: {{ perms.blog.add_post }} <br> {% endif %}
                {% if perms.blog.change_post is not None%}perms.blog.change_post: {{ perms.blog.change_post }} <br>{% endif %}
                {% if perms.blog.delete_post is not None%}perms.blog.delete_post: {{ perms.blog.delete_post }} <br> {% endif %}
                {% if perms.blog.view_post is not None%}perms.blog.view_post: {{ perms.blog.view_post }} <br>{% endif %}
            </small>
            
            {% block osd %}
            {% endblock %}
        </div>
    </body>
</html>